include ./mixins.pug
doctype html
html(lang="en")
  include ./head.pug
  //- body

  // Page Container
  .w3-content.w3-margin-top(style='max-width:1400px;')
    // The Grid
    .w3-row-padding
      // Left Column
      .w3-third
        include quick.pug
      // End Left Column
      // Right Column
      .w3-twothird
        include curiculum.pug
      // End Right Column
      // End Grid
    // End Page Container
  include footer.pug