include ./mixins.pug
doctype html
html(lang="en")
  include ./head.pug
  //- body

  // Page Container
  .w3-content.w3-margin-top(style='max-width:1400px;')
    // The Grid
    .w3-row-padding
      // Left Column
      .w3-third
        .w3-white.w3-text-grey.w3-card-4
          .w3-display-container
            img(src='image/portrait.jpg' style='width:100%' alt='Avatar')
            .w3-display-bottomleft.w3-container.w3-text-black
              h2 #{firstname} #{name}
          .w3-container
            +print_quick_info(quick_info)
            hr
            +skillslist(skills)
        br
        // End Left Column
      // Right Column
      .w3-twothird
        +print_curiculum(curiculum)
        .w3-container.w3-card.w3-white.w3-margin-bottom
          h2.w3-text-grey.w3-padding-16
            i.fa.fa-suitcase.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
            | Work Experience
          .w3-container
            h5.w3-opacity
              b Front End Developer / w3schools.com
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | Jan 2015 - 
              span.w3-tag.w3-teal.w3-round Current
            p
              | Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
            hr
          .w3-container
            h5.w3-opacity
              b Web Developer / something.com
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | Mar 2012 - Dec 2014
            p
              | Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
            hr
          .w3-container
            h5.w3-opacity
              b Graphic Designer / designsomething.com
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | Jun 2010 - Mar 2012
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            br
        .w3-container.w3-card.w3-white
          h2.w3-text-grey.w3-padding-16
            i.fa.fa-certificate.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
            | Education
          .w3-container
            h5.w3-opacity
              b W3Schools.com
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | Forever
            p Web Development! All I need to know in one place
            hr
          .w3-container
            h5.w3-opacity
              b London Business School
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | 2013 - 2015
            p Master Degree
            hr
          .w3-container
            h5.w3-opacity
              b School of Coding
            h6.w3-text-teal
              i.fa.fa-calendar.fa-fw.w3-margin-right
              | 2010 - 2013
            p Bachelor Degree
            br
        // End Right Column
      // End Grid
    // End Page Container
  footer.w3-container.w3-teal.w3-center.w3-margin-top
    p Find me on social media.
    i.fa.fa-facebook-official.w3-hover-opacity
    i.fa.fa-instagram.w3-hover-opacity
    i.fa.fa-snapchat.w3-hover-opacity
    i.fa.fa-pinterest-p.w3-hover-opacity
    i.fa.fa-twitter.w3-hover-opacity
    a.fa.fa-linkedin.w3-hover-opacity(href="https://www.linkedin.com/", style="text-decoration: none;")
    p
      | Powered by 
      a(href='https://www.w3schools.com/w3css/default.asp' target='_blank') w3.css
